In [1]:
 %matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
 # Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, MetaData, Table, Column, Integer, String, Float

In [3]:
 # create engine to brewBuds.sqlite
engine = create_engine("sqlite:///brewBuds.sqlite")

In [4]:
metadata = MetaData()

In [5]:
Table('brewery', metadata,
     Column('Index', Integer, primary_key = True),
     Column('City', String),
     Column('Latitude',Float),
     Column('Longitude',Float),
     Column('Name',String),
     Column('PostalCode',Integer),
     Column('State', String))

Table('brewery', MetaData(bind=None), Column('Index', Integer(), table=<brewery>, primary_key=True, nullable=False), Column('City', String(), table=<brewery>), Column('Latitude', Float(), table=<brewery>), Column('Longitude', Float(), table=<brewery>), Column('Name', String(), table=<brewery>), Column('PostalCode', Integer(), table=<brewery>), Column('State', String(), table=<brewery>), schema=None)

In [6]:
Table('starbucks', metadata,
     Column('Index', Integer, primary_key = True),
     Column('State', String),
     Column('PostalCode',Integer),
     Column('Longitude',Float),
     Column('Latitude',Float)
     )

Table('starbucks', MetaData(bind=None), Column('Index', Integer(), table=<starbucks>, primary_key=True, nullable=False), Column('State', String(), table=<starbucks>), Column('PostalCode', Integer(), table=<starbucks>), Column('Longitude', Float(), table=<starbucks>), Column('Latitude', Float(), table=<starbucks>), schema=None)

In [7]:
Table('income', metadata,
     Column('Index', Integer, primary_key = True),
     Column('PostalCode',Integer),
     Column('Population',Float),
     Column('Median_Income',Float),
     Column('PerUnder60',Float)
     )

Table('income', MetaData(bind=None), Column('Index', Integer(), table=<income>, primary_key=True, nullable=False), Column('PostalCode', Integer(), table=<income>), Column('Population', Float(), table=<income>), Column('Median_Income', Float(), table=<income>), Column('PerUnder60', Float(), table=<income>), schema=None)

In [8]:
 # reflect an existing database into a new model
Base = automap_base(metadata=metadata)
# reflect the tables
Base.prepare()

In [9]:
 # View all of the classes that automap found
Base.classes.keys()

['brewery', 'starbucks', 'income']

In [10]:
 # Save references to each table
brewery = Base.classes.brewery
starbucks = Base.classes.starbucks
income = Base.classes.income

In [11]:
 # Create our session (link) from Python to the DB
session = Session(engine)

In [3]:
# brewery_list = session.query(brewery)
# for b in brewery_list:
#     print(b.Index)
#     print(b.Name)

In [2]:
# sbux_list = session.query(starbucks)
# for s in sbux_list:
#     print(s.Index)
#     print(s.PostalCode)

In [1]:
# income_list = session.query(income)
# for i in income_list:
#     print(i.Index)
#     print(i.PostalCode)

In [ ]:
#NOT USING
#Use inspector to familiarize self with data types in measurement table
inspector = inspect(engine)
# i_columns = inspector.get_columns('income')
#  for c in m_columns:
# #     print(c['name'], c['type'])

In [15]:
engine.execute('SELECT * FROM starbucks LIMIT 5').fetchall()

[(0, 0, 'MN', 55792.0, -92.55, 47.51),
 (1, 1, 'OR', 97218.0, -122.59, 45.59),
 (2, 4, 'CT', 6611.0, -73.15, 41.23),
 (3, 5, 'CA', 92056.0, -117.3, 33.18),
 (4, 6, 'CO', 80124.0, -104.88, 39.54)]

In [16]:
engine.execute('SELECT * FROM income LIMIT 5').fetchall()

[(0, 1, 35004, 13860, 302269, 0.92),
 (1, 2, 35005, 8280, 130555, 0.92),
 (2, 3, 35006, 3340, 65411, 0.89),
 (3, 4, 35007, 33710, 743431, 0.92),
 (4, 5, 35010, 21520, 410413, 0.91)]

In [17]:
engine.execute('SELECT * FROM brewery LIMIT 5').fetchall()

[(0, 0, 'Black Earth', 43.138995, -89.747904, 'Shack The', 53515, 'WI'),
 (1, 1, 'Woodinville', 47.734648, -122.149773, 'Redhook Ale Brewery Inc', 98072, 'WA'),
 (2, 2, 'Austin', 30.225785, -97.952191, 'Thristy Planet', 78736, 'Circleville'),
 (3, 3, 'North Conway', 44.06841641, -71.14390969, 'Moat Mountain Smoke House & Brewing Co.', 3860, 'N Conway'),
 (4, 4, 'Newport', 41.51424931, -71.31590366, 'Coastal Extreme Brewing Company', 2840, 'RI')]

In [ ]:
#Analysis to determine the ideal number of breweries:Starbucks to base recommendations for locale

In [ ]:
# MIN and MAX of breweries per zipcode

In [ ]:
# number of breweries per median income in each zipcode

In [ ]:
# number of breweries per capita in each zipcode
#

In [ ]:
# Calculate number of Starbucks per capita: https://www.statista.com/statistics/1033425/cities-with-the-most-starbucks-per-resident/

In [ ]:
#number of Starbucks per median income in each zipcode

In [ ]:
#Use the data to define: WHAT IS THE BREWERY STANDARD?

In [ ]:
#Identify places to recommend based on the brewery standard (filtered queries)

In [ ]:
#Filter by coordinates for those places that meet the brewery standard

In [ ]:
#Filter by coordinates for those places that meet the Starbucks standard

In [ ]:
#Filter recommended places' population

In [ ]:
#Filter recommended places' median income

In [18]:
session.close()