In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
import scipy.stats as st
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
import sqlite3 as sql

In [2]:
starbucks = pd.read_csv("starbucks/starbucks_clean.csv")

In [3]:
income = pd.read_csv('income_data/income_data.csv')

In [4]:
brewery = pd.read_csv('breweries_data/brewery_clean.csv')

In [5]:
top100 = pd.read_csv("income_data/Top100_zip.csv")

In [6]:
conn = sql.connect('brewBuds.sqlite')
starbucks.to_sql('starbucks', conn)

C:\Users\perki\anaconda3\lib\site-packages\pandas\core\generic.py:2653: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

ValueError: Table 'starbucks' already exists.

In [7]:
brewery

,Unnamed: 0,City,Latitude,Longitude,Name,PostalCode,State
0,0,Black Earth,43.14,-89.75,shack the,53515,WI
1,2,Austin,30.23,-97.95,thristy planet,78736,Circleville
2,3,North Conway,44.07,-71.14,moat mountain smoke house & brewing co.,3860,N Conway
3,4,Newport,41.51,-71.32,coastal extreme brewing company,2840,RI
4,5,San Antonio,22.13,-101.02,la legendaria,78240,TX
...,...,...,...,...,...,...,...
8905,11834,Gilroy,37.01,-121.64,rancho de solis winery,95020,CA
8906,11835,Fairfield,38.27,-122.11,bask cellars,94534,CA
8907,11836,Philadelphia,39.97,-75.18,crime & punishment brewing co,19130,PA
8908,11837,Brooklyn,40.70,-73.92,circo's pastry shop,11237,NY
8909,11838,New York,40.75,-73.99,cooper's tavern,10001,NY

In [8]:
income.to_sql('income', conn)
brewery.to_sql('brewery', conn)
top100.to_sql('top100', conn)

C:\Users\perki\anaconda3\lib\site-packages\pandas\core\generic.py:2653: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

ValueError: Table 'income' already exists.

In [9]:
cur = conn.cursor()

# # The result of a "cursor.execute" can be iterated over by row
# for row in cur.execute('SELECT * FROM starbucks;'):
#     print(row)

# # Be sure to close the connection

In [10]:
# #conn = sql.connect('brew_jen.db')
# #cur = conn.cursor()

# # The result of a "cursor.execute" can be iterated over by row
# for row in cur.execute('SELECT * FROM income;'):
#     print(row)

In [10]:
for row in cur.execute('SELECT * FROM top100;'):
    print(row)

(0, 20001, 116195.0, 47748.0, 31.8, 0.4672865879199129, 1, 12.0, 47748.0, 3979.0, 260.0, 288.0, 89.0, 584.0, 1221.0, 1.0)
(1, 90045, 104578.0, 40567.0, 35.1, 0.2740651268272241, 1, 21.0, 40567.0, 1931.7619047619048, 421.0, 474.0, 686.0, 287.0, 1868.0, 2.0)
(2, 22202, 114224.0, 25409.0, 35.0, 0.3939155417371797, 1, 12.0, 25409.0, 2117.4166666666665, 1126.0, 309.0, 190.0, 316.0, 1941.0, 3.0)
(3, 10014, 133501.0, 30344.0, 37.6, 0.3472844713946744, 1, 5.0, 30344.0, 6068.8, 818.0, 136.0, 323.0, 954.0, 2231.0, 4.0)
(4, 10016, 126628.0, 52886.0, 32.7, 0.4578527398555383, 2, 9.0, 26443.0, 5876.222222222223, 1050.5, 185.0, 101.0, 921.0, 2257.5, 5.0)
(5, 11201, 129248.0, 63378.0, 34.9, 0.3095553662154059, 2, 11.0, 31689.0, 5761.636363636364, 743.0, 162.0, 468.0, 897.0, 2270.0, 6.0)
(6, 20003, 134438.0, 32675.0, 33.9, 0.3769242540168324, 1, 4.0, 32675.0, 8168.75, 706.0, 130.0, 229.0, 1368.0, 2433.0, 7.0)
(7, 95035, 132236.0, 79655.0, 36.3, 0.2413533362626326, 1, 10.0, 79655.0, 7965.5, 27.0, 149.0, 1094.0, 1334.0, 2604.0, 8.0)
(8, 10065, 148441.0, 29530.0, 38.9, 0.2653233999322723, 1, 5.0, 29530.0, 5906.0, 867.0, 67.0, 778.0, 926.0, 2638.0, 9.0)
(9, 77056, 108359.0, 22056.0, 39.9, 0.2850018135654697, 1, 8.0, 22056.0, 2757.0, 1317.0, 393.0, 616.0, 406.0, 2732.0, 10.0)
(10, 98102, 91466.0, 26023.0, 32.8, 0.5010183299389002, 1, 5.0, 26023.0, 5204.6, 1088.0, 819.0, 54.0, 797.0, 2758.0, 11.0)
(11, 7310, 147516.0, 13148.0, 31.0, 0.5235777304533009, 1, 4.0, 13148.0, 3287.0, 2179.0, 71.0, 43.0, 487.0, 2780.0, 12.0)
(12, 11217, 119375.0, 41813.0, 34.6, 0.3278167077224787, 1, 4.0, 41813.0, 10453.25, 373.0, 247.0, 392.0, 1791.0, 2803.0, 13.0)
(13, 94105, 213987.0, 10916.0, 35.1, 0.3999633565408574, 1, 10.0, 10916.0, 1091.6, 2470.0, 2.0, 177.0, 165.0, 2814.0, 14.0)
(14, 60601, 103112.0, 15083.0, 33.6, 0.4096002121593847, 1, 11.0, 15083.0, 1371.1818181818182, 1949.0, 508.0, 158.0, 212.0, 2827.0, 15.0)
(15, 94596, 109167.0, 21700.0, 39.2, 0.2649308755760368, 1, 9.0, 21700.0, 2411.1111111111118, 1342.0, 379.0, 782.0, 358.0, 2861.0, 16.0)
(16, 75201, 97104.0, 17476.0, 31.1, 0.563344014648661, 1, 5.0, 17476.0, 3495.2, 1701.0, 644.0, 21.0, 520.0, 2886.0, 17.0)
(17, 90403, 107420.0, 23902.0, 41.3, 0.2580955568571668, 1, 7.0, 23902.0, 3414.5714285714284, 1212.0, 407.0, 850.0, 512.0, 2981.0, 18.0)
(18, 10023, 132605.0, 62541.0, 43.3, 0.215634543739307, 1, 9.0, 62541.0, 6949.0, 89.0, 145.0, 1655.0, 1130.0, 3019.0, 19.0)
(19, 98115, 111569.0, 54109.0, 36.1, 0.279103291504186, 1, 5.0, 54109.0, 10821.8, 169.0, 342.0, 650.0, 1865.0, 3026.0, 20.0)
(20, 10003, 118161.0, 53977.0, 32.5, 0.3543916853474628, 3, 10.0, 17992.333333333332, 5397.7, 1651.0, 259.0, 304.0, 835.0, 3049.0, 21.0)
(21, 10005, 189702.0, 8701.0, 30.3, 0.5199402367543959, 1, 6.0, 8701.0, 1450.1666666666667, 2782.0, 7.0, 45.0, 227.0, 3061.0, 22.0)
(22, 95054, 152500.0, 24524.0, 33.3, 0.2978714728429293, 1, 3.0, 24524.0, 8174.666666666667, 1178.0, 51.0, 526.0, 1371.0, 3126.0, 23.0)
(23, 60610, 92130.0, 40548.0, 33.4, 0.428504488507448, 2, 8.0, 20274.0, 5068.5, 1448.0, 784.0, 132.0, 769.0, 3133.0, 24.0)
(24, 77019, 116207.0, 22057.0, 36.3, 0.3276510858230947, 1, 3.0, 22057.0, 7352.333333333333, 1316.0, 287.0, 393.0, 1206.0, 3202.0, 25.0)
(25, 60607, 102726.0, 29293.0, 30.2, 0.4625337111255249, 2, 7.0, 14646.5, 4184.714285714285, 2009.0, 514.0, 97.0, 610.0, 3230.0, 26.0)
(26, 20005, 93956.0, 12347.0, 34.2, 0.4481250506195837, 1, 9.0, 12347.0, 1371.888888888889, 2287.0, 730.0, 111.0, 213.0, 3341.0, 27.0)
(27, 98121, 115323.0, 19494.0, 33.8, 0.4808659074587052, 2, 8.0, 9747.0, 2436.75, 2625.0, 297.0, 64.0, 365.0, 3351.0, 28.0)
(28, 94086, 139847.0, 50477.0, 33.3, 0.3319333557858034, 1, 3.0, 50477.0, 16825.666666666668, 221.0, 96.0, 379.0, 2656.0, 3352.0, 29.0)
(29, 94109, 94278.0, 57302.0, 36.6, 0.39085895780252, 1, 4.0, 57302.0, 14325.5, 128.0, 724.0, 196.0, 2358.0, 3406.0, 30.0)
(30, 94538, 112473.0, 67474.0, 35.7, 0.2724456827815158, 3, 10.0, 22491.33333333333, 6747.4, 1293.0, 328.0, 700.0, 1089.0, 3410.0, 31.0)
(31, 20852, 99589.0, 46178.0, 39.2, 0.2222270345186019, 1, 7.0, 46178.0, 6596.857142857143, 297.0, 588.0, 1484.0, 1055.0, 3424.0, 32.0)
(32, 2116, 110280.0, 23157.0, 35.3, 0.3524204344258755, 2, 9.0, 11578.5, 2573.0, 2388.0, 359.0, 307.0, 389.0, 3443.0, 33.0)
(33, 98033, 133744.0, 39939.0, 38.2, 0.2088935626830917, 1, 6.0, 39939.0, 6656.5, 437.0, 135.0, 1837.0, 1069.0, 3478.0, 34.0)
(34, 50266, 77352.0, 29636.0, 34.3, 0.2863746794439195, 1, 7.0, 29636.0, 4233.714285714285, 861.5, 1420.0, 597.0, 618.0, 3496.5, 35.0)
(35, 90069, 93380.0, 20230.0, 42.9, 0.2949579831932773, 1, 4.0, 20230.0, 5057.5, 1452.0, 749.0, 548.0, 767.0, 3516.0, 36.0)
(36, 94560, 116856.0, 47171.0, 37.1, 0.2278942570647219, 1, 5.0, 47171.0, 9434.2, 273.0, 280.0, 1354.0, 1610.0, 3517.0, 37.0)
(37, 19103, 76103.0, 24214.0, 36.2, 0.4186421078714793, 1, 5.0, 24214.0, 4842.8, 1195.0, 1493.0, 146.0, 727.0, 3561.0, 38.0)
(38, 20190, 110096.0, 19950.0, 39.2, 0.2321804511278195, 1, 6.0, 19950.0, 3325.0, 1476.0, 361.0, 1275.0, 496.0, 3608.0, 39.0)
(39, 98208, 91574.0, 58162.0, 36.8, 0.2151404697224992, 1, 9.0, 58162.0, 6462.444444444444, 118.0, 813.0, 1664.0, 1040.0, 3635.0, 40.0)
(40, 30342, 91740.0, 30873.0, 33.4, 0.2609723706798821, 1, 4.0, 30873.0, 7718.25, 791.0, 805.0, 823.0, 1279.0, 3698.0, 41.0)
(41, 95131, 126757.0, 31236.0, 36.8, 0.272602125752337, 2, 5.0, 15618.0, 6247.2, 1884.0, 182.0, 698.0, 995.0, 3759.0, 42.0)
(42, 90036, 80539.0, 37965.0, 34.8, 0.3313578295798762, 2, 9.0, 18982.5, 4218.333333333333, 1555.0, 1249.0, 381.0, 617.0, 3802.0, 43.0)
(43, 30305, 99556.0, 24551.0, 38.5, 0.2769744613254042, 1, 3.0, 24551.0, 8183.666666666667, 1173.0, 589.0, 667.0, 1375.0, 3804.0, 44.0)
(44, 60614, 117138.0, 71954.0, 30.5, 0.4394196292075493, 7, 13.0, 10279.142857142857, 5534.923076923077, 2560.0, 275.0, 119.0, 857.0, 3811.0, 45.0)
(45, 94123, 162206.0, 25890.0, 34.0, 0.425453843182696, 2, 3.0, 12945.0, 8630.0, 2201.0, 32.0, 137.0, 1442.0, 3812.0, 46.0)
(46, 90254, 136702.0, 19539.0, 39.3, 0.238446184553969, 1, 3.0, 19539.0, 6513.0, 1519.0, 114.5, 1146.0, 1046.0, 3825.5, 47.0)
(47, 92117, 86243.0, 56983.0, 37.6, 0.2654124914448169, 1, 5.0, 56983.0, 11396.6, 131.0, 985.0, 776.0, 1938.0, 3830.0, 48.0)
(48, 92037, 109194.0, 38168.0, 45.3, 0.194167889331377, 1, 8.0, 38168.0, 4771.0, 493.0, 377.0, 2255.0, 720.0, 3845.0, 49.0)
(49, 33606, 80878.0, 20576.0, 29.7, 0.3230948678071539, 1, 4.0, 20576.0, 5144.0, 1425.5, 1233.0, 406.0, 786.0, 3850.5, 50.0)
(50, 94114, 162193.0, 34918.0, 39.2, 0.2799415774099318, 2, 4.0, 17459.0, 8729.5, 1703.0, 33.0, 641.0, 1474.0, 3851.0, 51.0)
(51, 10010, 132988.0, 35906.0, 35.2, 0.3266863476856235, 4, 9.0, 8976.5, 3989.555555555556, 2738.0, 140.0, 400.0, 586.0, 3864.0, 52.0)
(52, 93720, 89671.0, 47081.0, 37.3, 0.2163930247870691, 1, 7.0, 47081.0, 6725.857142857143, 275.0, 876.0, 1633.0, 1082.0, 3866.0, 53.0)
(53, 98052, 135287.0, 70245.0, 34.8, 0.2667663178873941, 5, 12.0, 14049.0, 5853.75, 2066.0, 124.0, 763.0, 917.0, 3870.0, 54.0)
(54, 92831, 70725.0, 37359.0, 29.1, 0.3376696378382719, 1, 5.0, 37359.0, 7471.8, 523.0, 1771.0, 353.0, 1233.0, 3880.0, 55.0)
(55, 60661, 120000.0, 10354.0, 31.5, 0.5280084991307707, 2, 6.0, 5177.0, 1725.6666666666667, 3362.0, 242.0, 40.0, 259.0, 3903.0, 56.0)
(56, 60654, 122492.0, 20022.0, 33.2, 0.4750274697832384, 3, 6.0, 6674.0, 3337.0, 3111.0, 219.0, 75.0, 499.0, 3904.0, 57.0)
(57, 30307, 105912.0, 20036.0, 37.4, 0.250648832102216, 1, 3.0, 20036.0, 6678.666666666667, 1470.0, 446.0, 935.0, 1076.0, 3927.0, 58.0)
(58, 19702, 80419.0, 55537.0, 34.1, 0.2500855285665412, 1, 6.0, 55537.0, 9256.166666666666, 146.0, 1257.0, 945.0, 1580.0, 3928.0, 59.0)
(59, 19106, 107388.0, 12592.0, 38.6, 0.3685673443456163, 1, 2.0, 12592.0, 6296.0, 2256.0, 410.0, 258.0, 1012.0, 3936.0, 60.0)
(60, 27560, 96830.0, 35800.0, 33.5, 0.2585195530726257, 2, 7.0, 17900.0, 5114.285714285715, 1659.0, 654.0, 845.0, 780.0, 3938.0, 61.0)
(61, 22201, 126632.0, 38541.0, 32.1, 0.4669053734983524, 2, 3.0, 19270.5, 12847.0, 1533.0, 184.0, 90.0, 2151.5, 3958.5, 62.0)
(62, 60606, 140558.0, 3287.0, 36.3, 0.4368725281411622, 1, 11.0, 3287.0, 298.8181818181818, 3699.0, 94.0, 123.0, 43.0, 3959.0, 63.0)
(63, 20016, 155112.0, 33518.0, 38.1, 0.1861387910973208, 1, 7.0, 33518.0, 4788.285714285715, 672.0, 45.0, 2529.0, 724.0, 3970.0, 64.0)
(64, 20008, 116250.0, 29292.0, 38.5, 0.3202922299603987, 1, 2.0, 29292.0, 14646.0, 886.0, 285.5, 420.0, 2397.0, 3988.5, 65.0)
(65, 2139, 105061.0, 38715.0, 29.7, 0.4541392225235697, 1, 2.0, 38715.0, 19357.5, 477.0, 468.0, 104.0, 2941.0, 3990.0, 66.0)
(66, 91101, 70075.0, 21395.0, 34.9, 0.3612526291189529, 1, 6.0, 21395.0, 3565.833333333333, 1367.0, 1815.0, 283.0, 527.0, 3992.0, 67.0)
(67, 7030, 147620.0, 53193.0, 31.7, 0.4387983381271972, 2, 3.0, 26596.5, 17731.0, 1037.0, 70.0, 121.0, 2767.0, 3995.0, 68.0)
(68, 75219, 72559.0, 25120.0, 35.7, 0.4027070063694267, 1, 4.0, 25120.0, 6280.0, 1146.0, 1685.0, 171.0, 1005.0, 4007.0, 69.0)
(69, 98011, 98268.0, 33830.0, 37.5, 0.2151049364469406, 1, 5.0, 33830.0, 6766.0, 659.0, 620.0, 1665.0, 1092.0, 4036.0, 70.0)
(70, 95618, 93643.0, 27519.0, 31.7, 0.2675969330280897, 1, 3.0, 27519.0, 9173.0, 986.0, 740.0, 751.0, 1567.0, 4044.0, 71.0)
(71, 90292, 114726.0, 23549.0, 39.6, 0.26362053590386, 2, 6.0, 11774.5, 3924.8333333333335, 2365.0, 302.0, 800.0, 578.0, 4045.0, 72.0)
(72, 20002, 90424.0, 67750.0, 33.4, 0.3560295202952029, 2, 5.0, 33875.0, 13550.0, 657.0, 849.0, 298.0, 2254.0, 4058.0, 73.0)
(73, 89139, 79197.0, 40612.0, 34.3, 0.2485964739485866, 1, 5.0, 40612.0, 8122.4, 419.0, 1315.0, 967.0, 1358.0, 4059.0, 74.0)
(74, 96819, 81727.0, 52981.0, 39.5, 0.2038089126290557, 1, 11.0, 52981.0, 4816.454545454545, 183.0, 1197.0, 1976.0, 726.0, 4082.0, 75.5)
(75, 77008, 108644.0, 34895.0, 34.5, 0.3424559392463103, 1, 2.0, 34895.0, 17447.5, 626.0, 389.0, 333.0, 2734.0, 4082.0, 75.5)
(76, 10022, 150718.0, 31130.0, 46.2, 0.2384195309990363, 3, 14.0, 10376.666666666666, 2223.5714285714284, 2551.0, 60.0, 1147.0, 329.0, 4087.0, 77.0)
(77, 92123, 81899.0, 32473.0, 33.5, 0.3434853570658701, 1, 3.0, 32473.0, 10824.333333333334, 714.0, 1187.0, 330.0, 1867.0, 4098.0, 78.0)
(78, 2128, 60579.0, 47263.0, 33.5, 0.3107927977487675, 1, 8.0, 47263.0, 5907.875, 272.0, 2446.0, 464.0, 927.0, 4109.0, 79.0)
(79, 60611, 106906.0, 33224.0, 38.9, 0.3563086925114375, 5, 18.0, 6644.8, 1845.7777777777776, 3118.0, 426.0, 297.0, 281.0, 4122.0, 80.0)
(80, 98109, 106393.0, 30384.0, 31.1, 0.518957345971564, 5, 10.0, 6076.8, 3038.4, 3205.0, 437.0, 46.0, 450.0, 4138.0, 81.0)
(81, 98133, 68994.0, 48650.0, 39.9, 0.2423843782117163, 1, 8.0, 48650.0, 6081.25, 242.0, 1874.0, 1073.0, 956.0, 4145.0, 82.0)
(82, 92865, 104103.0, 20664.0, 35.8, 0.2369821912504839, 1, 3.0, 20664.0, 6888.0, 1415.0, 484.0, 1172.0, 1115.0, 4186.0, 83.0)
(83, 98272, 91458.0, 30051.0, 35.8, 0.231905760207647, 1, 4.0, 30051.0, 7512.75, 838.0, 820.0, 1285.0, 1244.0, 4187.0, 84.0)
(84, 33132, 80577.0, 13849.0, 35.6, 0.4071774135316629, 1, 3.0, 13849.0, 4616.333333333333, 2087.0, 1246.0, 164.0, 694.0, 4191.0, 85.0)
(85, 98007, 96545.0, 29322.0, 32.6, 0.3471454880294659, 2, 4.0, 14661.0, 7330.5, 2007.0, 660.0, 325.0, 1201.0, 4193.0, 86.5)
(86, 96701, 94541.0, 40857.0, 40.4, 0.2301196857331669, 1, 4.0, 40857.0, 10214.25, 410.0, 715.0, 1316.0, 1752.0, 4193.0, 86.5)
(87, 95687, 86056.0, 69060.0, 37.8, 0.2236750651607298, 1, 7.0, 69060.0, 9865.714285714286, 63.0, 995.0, 1450.0, 1688.0, 4196.0, 88.0)
(88, 15222, 97690.0, 5348.0, 30.3, 0.4680254300673149, 1, 5.0, 5348.0, 1069.6, 3320.5, 630.0, 88.0, 163.0, 4201.5, 89.0)
(89, 23233, 102976.0, 31605.0, 39.0, 0.1940199335548172, 1, 7.0, 31605.0, 4515.0, 753.0, 510.0, 2263.0, 676.5, 4202.5, 90.0)
(90, 98021, 123479.0, 31496.0, 37.6, 0.1948183896367792, 1, 5.0, 31496.0, 6299.2, 760.0, 208.0, 2233.0, 1013.0, 4214.0, 91.0)
(91, 28273, 69896.0, 41170.0, 33.1, 0.283701724556716, 1, 5.0, 41170.0, 8234.0, 394.0, 1828.0, 619.0, 1381.0, 4222.0, 92.0)
(92, 75209, 95112.0, 14308.0, 39.7, 0.2644674308079396, 1, 3.0, 14308.0, 4769.333333333333, 2037.0, 698.0, 788.0, 719.0, 4242.0, 93.0)
(93, 93036, 77158.0, 48162.0, 31.3, 0.251650678958515, 1, 5.0, 48162.0, 9632.4, 250.0, 1432.0, 923.0, 1644.0, 4249.0, 94.0)
(94, 94531, 104646.0, 43022.0, 38.1, 0.2022918506810469, 1, 5.0, 43022.0, 8604.4, 350.0, 472.0, 2020.0, 1435.0, 4277.0, 95.0)
(95, 20010, 93686.0, 34223.0, 32.7, 0.3883937702714549, 1, 2.0, 34223.0, 17111.5, 648.0, 739.0, 203.0, 2689.0, 4279.0, 96.0)
(96, 76177, 94352.0, 11695.0, 32.9, 0.266866182129115, 1, 4.0, 11695.0, 2923.75, 2376.0, 723.0, 760.0, 433.0, 4292.0, 97.0)
(97, 33301, 99382.0, 14988.0, 40.5, 0.3001734721110221, 1, 2.0, 14988.0, 7494.0, 1960.0, 594.0, 515.0, 1238.0, 4307.0, 98.5)
(98, 99709, 87055.0, 29288.0, 35.1, 0.2643744878448511, 1, 3.0, 29288.0, 9762.666666666666, 887.0, 957.0, 792.0, 1671.0, 4307.0, 98.5)
(99, 92626, 88398.0, 50605.0, 35.3, 0.2884892797154431, 4, 13.0, 12651.25, 3892.692307692308, 2249.0, 906.0, 583.0, 573.0, 4311.0, 100.0)

In [12]:
# conn = sql.connect('brewBuds.sqlite')
# cur = conn.cursor()
# for row in cur.execute('SELECT PRIMARY KEY FROM brewery;'):
#     print(row)

In [13]:
conn.close()