In [1]:
 %matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
 # Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, MetaData, Table, Column, Integer, String, Float, cast

In [3]:
 # create engine to brewBuds.sqlite
engine = create_engine("sqlite:///brewBuds.sqlite")

In [4]:
metadata = MetaData()

In [5]:
# sql = """
# drop table income;
# """

In [6]:
Table('brewery', metadata,
     Column('Index', Integer, primary_key = True),
     Column('City', String),
     Column('Latitude',Float),
     Column('Longitude',Float),
     Column('Name',String),
     Column('PostalCode',Integer),
     Column('State', String))

Table('brewery', MetaData(bind=None), Column('Index', Integer(), table=<brewery>, primary_key=True, nullable=False), Column('City', String(), table=<brewery>), Column('Latitude', Float(), table=<brewery>), Column('Longitude', Float(), table=<brewery>), Column('Name', String(), table=<brewery>), Column('PostalCode', Integer(), table=<brewery>), Column('State', String(), table=<brewery>), schema=None)

In [7]:
Table('starbucks', metadata,
     Column('Index', Integer, primary_key = True),
     Column('State', String),
     Column('PostalCode',Integer),
     Column('Longitude',Float),
     Column('Latitude',Float)
     )

Table('starbucks', MetaData(bind=None), Column('Index', Integer(), table=<starbucks>, primary_key=True, nullable=False), Column('State', String(), table=<starbucks>), Column('PostalCode', Integer(), table=<starbucks>), Column('Longitude', Float(), table=<starbucks>), Column('Latitude', Float(), table=<starbucks>), schema=None)

In [8]:
Table('income', metadata,
     Column('Index', Integer, primary_key = True),
     Column('PostalCode',Integer),
     Column('Median_Income',Float),
     Column('Population',Float),
     Column('Median_age',Float), 
     Column('Keydemo_per',Float)
     )

Table('income', MetaData(bind=None), Column('Index', Integer(), table=<income>, primary_key=True, nullable=False), Column('PostalCode', Integer(), table=<income>), Column('Median_Income', Float(), table=<income>), Column('Population', Float(), table=<income>), Column('Median_age', Float(), table=<income>), Column('Keydemo_per', Float(), table=<income>), schema=None)

In [9]:
 # reflect an existing database into a new model
Base = automap_base(metadata=metadata)
# reflect the tables
Base.prepare()

In [10]:
 # View all of the classes that automap found
Base.classes.keys()

['brewery', 'starbucks', 'income']

In [11]:
 # Save references to each table
brewery = Base.classes.brewery
starbucks = Base.classes.starbucks
income = Base.classes.income

In [12]:
 # Create our session (link) from Python to the DB
session = Session(engine)

In [ ]:
# brewery_list = session.query(brewery)
# for b in brewery_list:
#     print(b.Index)
#     print(b.Name)

In [ ]:
# sbux_list = session.query(starbucks)
# for s in sbux_list:
#     print(s.Index)
#     print(s.PostalCode)

In [ ]:
# income_list = session.query(income)
# for i in income_list:
#     print(i.Index)
#     print(i.PostalCode)

In [ ]:
#NOT USING
#Use inspector to familiarize self with data types in measurement table
inspector = inspect(engine)
# i_columns = inspector.get_columns('income')
#  for c in m_columns:
# #     print(c['name'], c['type'])

In [13]:
engine.execute('SELECT * FROM starbucks LIMIT 5').fetchall()

[(0, 0, 'MN', 55792.0, -92.55, 47.51),
 (1, 1, 'OR', 97218.0, -122.59, 45.59),
 (2, 4, 'CT', 6611.0, -73.15, 41.23),
 (3, 5, 'CA', 92056.0, -117.3, 33.18),
 (4, 6, 'CO', 80124.0, -104.88, 39.54)]

In [14]:
engine.execute('SELECT * FROM income LIMIT 5').fetchall()

[(0, 35004, 62902.0, 12045, 35.5, 0.2213366542133665),
 (1, 35005, 50473.0, 7344, 44.0, 0.136437908496732),
 (2, 35006, 55909.0, 2883, 47.2, 0.1175858480749219),
 (3, 35007, 73587.0, 26332, 37.7, 0.1707048458149779),
 (4, 35010, 41954.0, 20613, 42.6, 0.1766361034298743)]

In [ ]:
engine.execute('SELECT * FROM brewery LIMIT 5').fetchall()

In [ ]:
#Analysis to determine the ideal number of breweries:Starbucks to base recommendations for locale

In [15]:
# number of breweries in each zipcode joined with median income
sel = [brewery.PostalCode, func.count(brewery.Name), income.Population, income.Median_age,income.Keydemo_per, income.Median_Income]
bi_join = session.query(*sel).\
group_by(brewery.PostalCode).\
filter(brewery.PostalCode ==income.PostalCode).limit(50).all()

for record in bi_join:
    print(record)
#         f"The European animal '{ea_fam} {ea_gen} {ea_spec}'"
#         f"belongs to the same sporder as the North American animal '{na_fam} {na_gen} {na_spec}'.")

(716, 1, 27513, 44.6, 0.1769345400356195, 17969.0)
(1001, 1, 17312, 46.1, 0.1749075785582255, 63949.0)
(1002, 1, 30014, 23.4, 0.4040447791030852, 61159.0)
(1010, 3, 3658, 46.8, 0.1391470749043193, 70063.0)
(1013, 2, 22733, 35.7, 0.2387278405841728, 43808.0)
(1027, 2, 17818, 45.0, 0.1877876304860253, 67119.0)
(1032, 1, 495, 54.6, 0.10707070707070697, 68750.0)
(1035, 1, 5319, 48.9, 0.190825343109607, 74364.0)
(1040, 1, 40241, 35.2, 0.2385875102507393, 40769.0)
(1056, 3, 21291, 44.1, 0.1903151566389554, 73458.0)
(1060, 2, 15948, 35.1, 0.2869325307248558, 61798.0)
(1073, 1, 6144, 47.9, 0.1544596354166666, 104577.0)
(1077, 1, 9720, 47.3, 0.1534979423868313, 73776.0)
(1096, 1, 2443, 47.8, 0.1510437986082685, 82574.0)
(1097, 1, 56, 17.3, 0.0535714285714285, None)
(1129, 1, 6941, 40.6, 0.2031407578158766, 58621.0)
(1201, 1, 44458, 44.7, 0.1884925097845157, 52223.0)
(1230, 2, 8525, 49.6, 0.121407624633431, 69328.0)
(1301, 2, 17617, 43.8, 0.1916330816824658, 50889.0)
(1349, 2, 1391, 38.2, 0.2508986340762041, 65536.0)
(1373, 1, 4854, 50.7, 0.1009476720230737, 78382.0)
(1376, 1, 5013, 45.7, 0.2078595651306602, 40913.0)
(1440, 1, 20610, 41.0, 0.2096069868995633, 49679.0)
(1451, 1, 4731, 46.4, 0.1120270555907841, 162619.0)
(1473, 1, 7766, 44.3, 0.1716456348184393, 100972.0)
(1505, 1, 4623, 45.2, 0.1142115509409474, 97591.0)
(1518, 3, 3947, 38.3, 0.1867240942487965, 72470.0)
(1581, 1, 19037, 38.8, 0.1788622156852445, 112153.0)
(1604, 2, 38191, 34.7, 0.2662407373464952, 55665.0)
(1610, 3, 22023, 27.8, 0.337919447849975, 33695.0)
(1701, 2, 32590, 45.8, 0.1649585762503835, 111209.0)
(1702, 3, 39799, 34.9, 0.249428377597427, 65154.0)
(1740, 1, 5299, 43.0, 0.0911492734478203, 173024.0)
(1749, 1, 19887, 44.0, 0.1683009000854829, 91706.0)
(1773, 1, 4884, 54.6, 0.0675675675675675, 140125.0)
(1801, 2, 40359, 40.0, 0.2132114274387373, 90969.0)
(1810, 1, 35816, 42.4, 0.1259772168863078, 151334.0)
(1824, 1, 25754, 44.7, 0.1575677564650151, 126081.0)
(1832, 1, 23270, 36.4, 0.2162011173184357, 66961.0)
(1851, 1, 30686, 33.7, 0.2703838884181711, 60596.0)
(1854, 1, 28937, 29.6, 0.3019663406711131, 53322.0)
(1876, 1, 30878, 44.6, 0.1773430921691819, 102934.0)
(1880, 1, 26720, 44.0, 0.1675523952095808, 100693.0)
(1913, 1, 17434, 43.9, 0.1836641046231501, 82468.0)
(1915, 1, 41885, 40.4, 0.2136803151486212, 80586.0)
(1930, 4, 30162, 50.9, 0.1528744778197732, 72574.0)
(1938, 2, 13963, 48.4, 0.1389386235049774, 93212.0)
(1951, 1, 3150, 52.7, 0.0758730158730158, 95345.0)
(1970, 3, 43033, 37.0, 0.2731856946994167, 68860.0)
(2021, 2, 23369, 42.6, 0.1545209465531259, 105919.0)

## re-run the BREW + INC query without the limit() function

In [16]:

## re-run the query without the limit() function
sel = [brewery.PostalCode, func.count(brewery.Name), income.Population, income.Median_age,income.Keydemo_per, income.Median_Income]
bi_join = session.query(*sel).\
group_by(brewery.PostalCode).\
filter(brewery.PostalCode ==income.PostalCode).all()

In [19]:

#port the SQL query into a pandas df
all_results = []
   
for a,b,c,d,e,f in bi_join:
    brew_dict = {}
    brew_dict["zip"] = a
    brew_dict["num_brew"] = b
    brew_dict["pop"] = c
    brew_dict["med_age"] = d
    brew_dict["key_demo"] = e
    brew_dict["med_inc"] = f
    all_results.append(brew_dict)

In [22]:
#all_results
all_breweries_df = pd.DataFrame(all_results)
all_breweries_df

        zip  num_brew    pop  med_age  key_demo  med_inc
0       716         1  27513     44.6  0.176935  17969.0
1      1001         1  17312     46.1  0.174908  63949.0
2      1002         1  30014     23.4  0.404045  61159.0
3      1010         3   3658     46.8  0.139147  70063.0
4      1013         2  22733     35.7  0.238728  43808.0
...     ...       ...    ...      ...       ...      ...
4931  99743         1    990     42.4  0.188889  86250.0
4932  99801         4  29968     38.1  0.211893  89436.0
4933  99829         1    808     44.0  0.188119  59375.0
4934  99835         1   8640     39.5  0.195486  73682.0
4935  99840         1   1107     40.4  0.237579  73906.0

[4936 rows x 6 columns]

In [46]:
all_breweries_df = all_breweries_df.dropna()
all_breweries_df

        zip  num_brew    pop  med_age  key_demo  med_inc  brew_pop
0       716         1  27513     44.6  0.176935  17969.0  0.000036
1      1001         1  17312     46.1  0.174908  63949.0  0.000058
2      1002         1  30014     23.4  0.404045  61159.0  0.000033
3      1010         3   3658     46.8  0.139147  70063.0  0.000820
4      1013         2  22733     35.7  0.238728  43808.0  0.000088
...     ...       ...    ...      ...       ...      ...       ...
4931  99743         1    990     42.4  0.188889  86250.0  0.001010
4932  99801         4  29968     38.1  0.211893  89436.0  0.000133
4933  99829         1    808     44.0  0.188119  59375.0  0.001238
4934  99835         1   8640     39.5  0.195486  73682.0  0.000116
4935  99840         1   1107     40.4  0.237579  73906.0  0.000903

[4897 rows x 7 columns]

In [26]:
all_breweries_df.dtypes

zip           int64
num_brew      int64
pop           int64
med_age     float64
key_demo    float64
med_inc     float64
dtype: object

# Identify the limit for key demographic percentage : .4 (179 results)

In [47]:
high_key_demo = all_breweries_df.loc[all_breweries_df["key_demo"] > .8]
high_key_demo
# 80% of population in 21-35 age bracket only returns

Empty DataFrame
Columns: [zip, num_brew, pop, med_age, key_demo, med_inc, brew_pop]
Index: []

In [48]:
high_key_demo = all_breweries_df.loc[all_breweries_df["key_demo"] > .4]
high_key_demo

        zip  num_brew    pop  med_age  key_demo   med_inc  brew_pop
2      1002         1  30014     23.4  0.404045   61159.0  0.000033
57     2114         3  13335     33.2  0.473941   96563.0  0.000225
65     2139         3  38715     29.7  0.454139  105061.0  0.000077
66     2143         3  25327     31.5  0.486122   98374.0  0.000118
74     2215         1  25770     21.8  0.561428   45856.0  0.000039
...     ...       ...    ...      ...       ...       ...       ...
4768  98105         8  50434     23.2  0.456042   62582.0  0.000159
4772  98109         6  30384     31.1  0.518957  106393.0  0.000197
4779  98121         2  19494     33.8  0.480866  115323.0  0.000103
4780  98122         6  39305     31.3  0.448722   79609.0  0.000153
4889  99163         1  35134     22.3  0.452496   33837.0  0.000028

[179 rows x 7 columns]

In [49]:
## store the high_key_demo zip codes to a list
high_key_demo_list = high_key_demo["zip"].tolist()
high_key_demo_list

[1002,
 2114,
 2139,
 2143,
 2215,
 4473,
 5401,
 6103,
 7030,
 7310,
 10005,
 10012,
 10016,
 10018,
 14203,
 14607,
 14620,
 15203,
 15222,
 15233,
 16801,
 16803,
 19103,
 19107,
 19123,
 19127,
 19130,
 20001,
 20005,
 20037,
 21201,
 22201,
 23219,
 23220,
 23508,
 24011,
 26505,
 28202,
 28203,
 28204,
 28262,
 29201,
 29403,
 30308,
 30313,
 30324,
 30346,
 30601,
 32304,
 32601,
 32607,
 32801,
 33132,
 33716,
 35233,
 37201,
 37203,
 37902,
 38103,
 40508,
 43201,
 43202,
 43212,
 43215,
 43402,
 44113,
 44114,
 44304,
 44311,
 45209,
 45409,
 46202,
 46204,
 46556,
 47408,
 47901,
 47906,
 48104,
 48201,
 48226,
 48823,
 48933,
 49401,
 49931,
 50014,
 50309,
 52801,
 53202,
 53203,
 53233,
 53703,
 55101,
 55114,
 55401,
 55403,
 55408,
 55414,
 55415,
 55805,
 60601,
 60606,
 60607,
 60610,
 60613,
 60614,
 60622,
 60654,
 60657,
 60661,
 61820,
 62975,
 63101,
 63102,
 63103,
 64111,
 65201,
 65806,
 66044,
 66502,
 67202,
 68102,
 68131,
 68508,
 73104,
 74103,
 75201,
 75204,
 75206,
 75207,
 75219,
 75226,
 76205,
 77002,
 77004,
 77006,
 77007,
 77054,
 77098,
 77840,
 78215,
 78701,
 78705,
 79401,
 79410,
 80045,
 80202,
 80203,
 80218,
 80246,
 80302,
 80303,
 80497,
 80521,
 84101,
 84102,
 85281,
 85719,
 90024,
 90071,
 92108,
 92109,
 93117,
 93405,
 94123,
 94130,
 94704,
 95113,
 95616,
 95811,
 95814,
 97227,
 97401,
 98101,
 98102,
 98105,
 98109,
 98121,
 98122,
 99163]

## zoom in on median income 50,000 (3779 results)

In [50]:
## zoom in on median income
# sort the all_breweries_df by med_inc
all_breweries_df.sort_values(by = ["med_inc"], ascending = False)

        zip  num_brew    pop  med_age  key_demo   med_inc  brew_pop
3341  76092         1  31424     42.4  0.072651  240507.0  0.000032
4341  94105         1  10916     35.1  0.399963  213987.0  0.000092
4428  95030         2  13481     50.0  0.081151  209563.0  0.000148
1117  22101         1  29892     45.8  0.096079  199208.0  0.000033
274    6890         1   4322     48.4  0.109671  196379.0  0.000231
...     ...       ...    ...      ...       ...       ...       ...
267    6702         2   3080     54.9  0.150974   12908.0  0.000649
782   16501         5   1829     53.6  0.318753   10874.0  0.002734
2136  44702         1    925     60.2  0.181622   10714.0  0.001081
2962  61602         4    828     44.3  0.369565   10458.0  0.004831
2125  44503         2   1020     46.7  0.372549    9583.0  0.001961

[4897 rows x 7 columns]

In [51]:
#filter for all zips with median income > 50000
high_med_inc = all_breweries_df.loc[all_breweries_df["med_inc"] > 50000]
high_med_inc

        zip  num_brew    pop  med_age  key_demo  med_inc  brew_pop
1      1001         1  17312     46.1  0.174908  63949.0  0.000058
2      1002         1  30014     23.4  0.404045  61159.0  0.000033
3      1010         3   3658     46.8  0.139147  70063.0  0.000820
5      1027         2  17818     45.0  0.187788  67119.0  0.000112
6      1032         1    495     54.6  0.107071  68750.0  0.002020
...     ...       ...    ...      ...       ...      ...       ...
4931  99743         1    990     42.4  0.188889  86250.0  0.001010
4932  99801         4  29968     38.1  0.211893  89436.0  0.000133
4933  99829         1    808     44.0  0.188119  59375.0  0.001238
4934  99835         1   8640     39.5  0.195486  73682.0  0.000116
4935  99840         1   1107     40.4  0.237579  73906.0  0.000903

[3779 rows x 7 columns]

In [58]:
high_med_inc_list = high_med_inc["zip"].tolist()
len(high_med_inc_list)

3779

In [56]:
brew_union = (set(high_med_inc_list) & set(high_key_demo_list))
len(brew_union)

109

In [57]:
brew_union

{1002,
 2114,
 2139,
 2143,
 6103,
 7030,
 7310,
 10005,
 10012,
 10016,
 10018,
 15203,
 15222,
 16803,
 19103,
 19107,
 19123,
 19127,
 19130,
 20001,
 20005,
 20037,
 22201,
 23508,
 24011,
 28202,
 28203,
 28204,
 28262,
 30308,
 30313,
 30324,
 30346,
 32801,
 33132,
 33716,
 37201,
 37203,
 38103,
 43202,
 43212,
 43215,
 44113,
 45209,
 45409,
 46204,
 48104,
 48226,
 53202,
 53203,
 55101,
 55114,
 55401,
 55408,
 55415,
 60601,
 60606,
 60607,
 60610,
 60613,
 60614,
 60622,
 60654,
 60657,
 60661,
 62975,
 63101,
 64111,
 68102,
 73104,
 74103,
 75201,
 75204,
 75206,
 75207,
 75219,
 76205,
 77002,
 77004,
 77006,
 77007,
 77054,
 77098,
 78215,
 78701,
 80202,
 80203,
 80218,
 80246,
 80302,
 80303,
 80497,
 90024,
 90071,
 92108,
 92109,
 93117,
 94123,
 94130,
 95113,
 95616,
 95811,
 97227,
 98101,
 98102,
 98105,
 98109,
 98121,
 98122}

# Brewery: Population Index

In [61]:
#calculate the brewery to population ratio
all_breweries_df["brew_pop"] = (all_breweries_df["pop"] / all_breweries_df["num_brew"])
all_breweries_df

        zip  num_brew    pop  med_age  key_demo  med_inc      brew_pop
0       716         1  27513     44.6  0.176935  17969.0  27513.000000
1      1001         1  17312     46.1  0.174908  63949.0  17312.000000
2      1002         1  30014     23.4  0.404045  61159.0  30014.000000
3      1010         3   3658     46.8  0.139147  70063.0   1219.333333
4      1013         2  22733     35.7  0.238728  43808.0  11366.500000
...     ...       ...    ...      ...       ...      ...           ...
4931  99743         1    990     42.4  0.188889  86250.0    990.000000
4932  99801         4  29968     38.1  0.211893  89436.0   7492.000000
4933  99829         1    808     44.0  0.188119  59375.0    808.000000
4934  99835         1   8640     39.5  0.195486  73682.0   8640.000000
4935  99840         1   1107     40.4  0.237579  73906.0   1107.000000

[4897 rows x 7 columns]

In [37]:
#identify the highest brew_pop ratio
all_breweries_df.sort_values(by = ["brew_pop"], ascending = False)

        zip  num_brew     pop  med_age  key_demo   med_inc  brew_pop
4385  94573         7      36     29.2  0.583333       NaN  0.194444
1612  32830         1       6      NaN  1.000000       NaN  0.166667
615   13353         2      13     69.8  0.000000   31563.0  0.153846
4066  91608         3      21      NaN  1.000000       NaN  0.142857
2698  55111         1      25     61.9  0.000000   15250.0  0.040000
...     ...       ...     ...      ...       ...       ...       ...
391    8701         1  102466     19.3  0.190297   52148.0  0.000010
476   11211         1  103123     31.0  0.333951   81228.0  0.000010
3283  75070         1  104415     37.1  0.155476  102650.0  0.000010
4053  91331         1  105458     33.3  0.250128   63807.0  0.000009
3273  75034         1  108525     36.8  0.160995  117707.0  0.000009

[4936 rows x 7 columns]

In [39]:
#count how many zips have a brew_pop index > .1
high_brew_pop = all_breweries_df.loc[all_breweries_df["brew_pop"] > .009]
high_brew_pop

        zip  num_brew  pop  med_age  key_demo   med_inc  brew_pop
14     1097         1   56     17.3  0.053571       NaN  0.017857
525   11931         1   39      3.0  0.256410       NaN  0.025641
615   13353         2   13     69.8  0.000000   31563.0  0.153846
758   15421         1   48     68.2  0.000000       NaN  0.020833
971   19736         1   66      NaN  1.000000       NaN  0.015152
1239  25126         1   98     68.0  0.295918       NaN  0.010204
1612  32830         1    6      NaN  1.000000       NaN  0.166667
1647  33122         5  205     29.9  0.365854   52321.0  0.024390
1885  37213         1   95     30.5  0.568421       NaN  0.010526
1991  42124         1   28     31.9  0.285714       NaN  0.035714
2214  46047         2   56     35.5  0.000000       NaN  0.035714
2471  49674         1   53     55.1  0.226415       NaN  0.018868
2488  49918         1  102     62.0  0.009804   45625.0  0.009804
2698  55111         1   25     61.9  0.000000   15250.0  0.040000
2763  55968         1   86     64.8  0.116279   61250.0  0.011628
2955  61112         1   62     86.0  0.000000   21573.0  0.016129
2997  62975         4  169     45.6  0.443787   59018.0  0.023669
3204  72014         1   58     48.4  0.034483       NaN  0.017241
3673  80544         2  117     35.2  0.410256       NaN  0.017094
3972  89450         1   60     56.2  0.000000       NaN  0.016667
3999  90071         2  126     41.3  0.420635   61875.0  0.015873
4066  91608         3   21      NaN  1.000000       NaN  0.142857
4244  93220         1   65      NaN  0.000000       NaN  0.015385
4270  93441        10  922     49.1  0.125813  100833.0  0.010846
4385  94573         7   36     29.2  0.583333       NaN  0.194444
4503  95494         2  171     48.4  0.210526       NaN  0.011696
4784  98134        19  833     44.4  0.332533   83472.0  0.022809

# For each zip in brew_union, let's build a df that has all the demographics and calculate a brew_pop ratio

In [60]:
brew_union_df = all_breweries_df[all_breweries_df.zip.isin(brew_union)]
brew_union_df

        zip  num_brew    pop  med_age  key_demo   med_inc  brew_pop
2      1002         1  30014     23.4  0.404045   61159.0  0.000033
57     2114         3  13335     33.2  0.473941   96563.0  0.000225
65     2139         3  38715     29.7  0.454139  105061.0  0.000077
66     2143         3  25327     31.5  0.486122   98374.0  0.000118
239    6103         1   1878     31.6  0.580405   84469.0  0.000532
...     ...       ...    ...      ...       ...       ...       ...
4765  98102         1  26023     32.8  0.501018   91466.0  0.000038
4768  98105         8  50434     23.2  0.456042   62582.0  0.000159
4772  98109         6  30384     31.1  0.518957  106393.0  0.000197
4779  98121         2  19494     33.8  0.480866  115323.0  0.000103
4780  98122         6  39305     31.3  0.448722   79609.0  0.000153

[109 rows x 7 columns]

In [ ]:
##  DATA ANALYSIS: scatterplots
## sort by keydemo and zoom in on highest number(s)  => keydemo is the key demographic percent of pop that falls into 21-35 age group
## sort by median income, zoom in on highest numbers
## sort by brewery: population ratio
## visualize brewery: starbucks  ratio
## find the five places we recommend new brewery based on 

## VISUALIZATION
## use leaflet to outline zip codes, and hover to see key_demo, med income and population:brewery ratio, include ranking

In [ ]:
# bi_join AND number of residents per brewery (ALL nec. brew and income data)
sel = [brewery.PostalCode, func.count(brewery.Name), income.Population, income.Median_age,income.Keydemo_per, income.Median_Income]
# brew_capita=session.query(*sel,(cast(func.count(brewery.Name)/income.Population, Integer).scalar())).\
brew_capita=session.query(*sel,income.Population/func.count(brewery.Name)).\
    group_by(brewery.PostalCode).\
    order_by(func.count(brewery.Name).desc()).\
    filter(brewery.PostalCode ==income.PostalCode).limit(50).all()

# for i in brew_capita:
#     for data_pt in i:
#         print(float(data_pt))
for i in brew_capita:
    print(i)

In [ ]:
# number of breweries in each zipcode

brew_count_zip = session.query(brewery.PostalCode, func.count(brewery.Name)).\
    group_by(brewery.PostalCode).\
    order_by(func.count(brewery.Name).desc()).limit(5000).all()
# for i,_ in brew_count_zip:
#     print(i)

In [ ]:
#Finding matches across query results to determine best zip codes
# a = [4,10,1,2,3,9,7,3]
# b = [10,4,12,15,17,6,8]

# print(print(set(a) & set(b)))

for i,_ in brew_count_zip:
    brew_list =[]
    brew_list.append(i)
#     print(brew_list)
for i,_ in med_income_sort:
    income_list=[]
    income_list.append(i)

print(print(set(brew_list) & set(income_list)))

In [ ]:
#Median income sort
sel = [brewery.PostalCode, income.Median_Income]
# brew_capita=session.query(*sel,(cast(func.count(brewery.Name)/income.Population, Integer).scalar())).\
med_income_sort=session.query(*sel).\
    group_by(brewery.PostalCode).\
    order_by(income.Median_Income.desc()).\
    filter(brewery.PostalCode ==income.PostalCode).limit(5000).all()

# for i in brew_capita:
#     for data_pt in i:
#         print(float(data_pt))
# for i in med_income_sort:
#     print(i)

In [ ]:
#population to breweries ratio
sel = [brewery.PostalCode, (income.Population/func.count(brewery.Name))]
# brew_capita=session.query(*sel,(cast(func.count(brewery.Name)/income.Population, Integer).scalar())).\
ratio_sort=session.query(*sel).\
    group_by(brewery.PostalCode).\
    order_by((income.Population/func.count(brewery.Name)).desc()).\
    filter(brewery.PostalCode ==income.PostalCode).limit(50).all()

# for i in brew_capita:
#     for data_pt in i:
#         print(float(data_pt))
for i in ratio_sort:
    print(i)

In [ ]:
starbucks_count_zip = session.query(starbucks.PostalCode, func.count(starbucks.Index)).\
    group_by(starbucks.PostalCode).\
    order_by(func.count(starbucks.Index).desc()).all()
for s in starbucks_count_zip:
    print(s)

In [ ]:
starbucks_ratio = session.query(starbucks.PostalCode, income.Population/func.count(starbucks.Index)).\
    group_by(starbucks.PostalCode).\
    order_by((income.Population/func.count(starbucks.Index)).desc()).\
    filter(starbucks.PostalCode ==income.PostalCode).limit(50).all()
for i in starbucks_ratio:
    print(i)
# brew_capita=session.query(*sel,income.Population/func.count(brewery.Name)).\
#     group_by(brewery.PostalCode).\
#     order_by(func.count(brewery.Name).desc()).\
#     filter(brewery.PostalCode ==income.PostalCode).limit(50).all()

In [ ]:
# ALL nec. brew, income, and Sbucks data
sel = [income.PostalCode, func.count(brewery.Name), func.count(starbucks.Index), income.Population, income.Median_age,income.Keydemo_per, income.Median_Income]
# brew_capita=session.query(*sel,(cast(func.count(brewery.Name)/income.Population, Integer).scalar())).\
all_data=session.query(*sel).\
    group_by(income.PostalCode).\
    order_by(func.count(brewery.Name).desc()).\
    filter(income.PostalCode ==brewery.PostalCode).\
    filter(brewery.PostalCode==starbucks.PostalCode).limit(50).all()

# for i in brew_capita:
#     for data_pt in i:
#         print(float(data_pt))
for i in all_data:
    print(i)

In [ ]:
# Calculate number of Starbucks per capita: https://www.statista.com/statistics/1033425/cities-with-the-most-starbucks-per-resident/

In [ ]:
#number of Starbucks per median income in each zipcode

In [ ]:
#Use the data to define: WHAT IS THE BREWERY STANDARD?

In [ ]:
#Identify places to recommend based on the brewery standard (filtered queries)

In [ ]:
#Query coordinates for those places that meet the brewery standard

In [ ]:
#Query by coordinates for those places that meet the Starbucks standard

In [ ]:
#Query recommended places' population

In [ ]:
#Query recommended places' median income

In [ ]:
session.close()