In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
import scipy.stats as st
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
import sqlite3 as sql

In [2]:
starbucks = pd.read_csv("starbucks/starbucks_clean.csv")

In [3]:
income = pd.read_csv('income_data/income_data.csv')

In [4]:
brewery = pd.read_csv('breweries_data/brewery_clean.csv')

In [5]:
conn = sql.connect('brewBuds.sqlite')
starbucks.to_sql('starbucks', conn)

C:\Users\johan\Anaconda3\lib\site-packages\pandas\core\generic.py:2653: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [ ]:
brewery

In [6]:
income.to_sql('income', conn)
brewery.to_sql('brewery', conn)

In [ ]:
# cur = conn.cursor()

# # The result of a "cursor.execute" can be iterated over by row
# for row in cur.execute('SELECT * FROM starbucks;'):
#     print(row)

# # Be sure to close the connection

In [ ]:
# #conn = sql.connect('brew_jen.db')
# #cur = conn.cursor()

# # The result of a "cursor.execute" can be iterated over by row
# for row in cur.execute('SELECT * FROM income;'):
#     print(row)

In [ ]:
for row in cur.execute('SELECT * FROM brewery;'):
    print(row)

In [ ]:
# conn = sql.connect('brewBuds.sqlite')
# cur = conn.cursor()
# for row in cur.execute('SELECT PRIMARY KEY FROM brewery;'):
#     print(row)

In [7]:
conn.close()