In [4]:
import pandas as pd
import os
import csv

# income_file = "irs_data/Income Data.csv"
# demo_file = "irs_data/Demographics.csv"

# income_df = pd.read_csv(income_file)
# demo_df = pd.read_csv(demo_file)

In [35]:
income_df.head()
demo_df.head()

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0001PE,DP05_0001PM,DP05_0002E,DP05_0002M,DP05_0002PE,DP05_0002PM,...,DP05_0087PE,DP05_0087PM,DP05_0088E,DP05_0088M,DP05_0088PE,DP05_0088PM,DP05_0089E,DP05_0089M,DP05_0089PE,DP05_0089PM
0,id,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Percent!!SEX AND AGE!!Total population,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!Male,Margin of Error!!SEX AND AGE!!Total population...,Percent!!SEX AND AGE!!Total population!!Male,Percent Margin of Error!!SEX AND AGE!!Total po...,...,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Estimate!!CITIZEN, VOTING AGE POPULATION!!Citi...","Margin of Error!!CITIZEN, VOTING AGE POPULATIO...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Estimate!!CITIZEN, VOTING AGE POPULATION!!Citi...","Margin of Error!!CITIZEN, VOTING AGE POPULATIO...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P..."
1,8600000US35004,ZCTA5 35004,12045,725,12045,(X),5840,477,48.5,2.5,...,8933,(X),4203,353,47.1,2.3,4730,357,52.9,2.3
2,8600000US35005,ZCTA5 35005,7344,579,7344,(X),3397,309,46.3,2.7,...,5534,(X),2471,220,44.7,2.9,3063,342,55.3,2.9
3,8600000US35006,ZCTA5 35006,2883,361,2883,(X),1498,228,52,3,...,2296,(X),1151,173,50.1,3.3,1145,154,49.9,3.3
4,8600000US35007,ZCTA5 35007,26332,1027,26332,(X),12827,607,48.7,1.5,...,18205,(X),8810,537,48.4,1.7,9395,474,51.6,1.7

In [34]:
zip_df = income_df.loc[1:, ["NAME", "DP03_0062E"]]
zip_df["PostalCode"] = zip_df["NAME"].str.split(" ").str[-1]
zip_df.columns =["drop", "Median_Income", "PostalCode"]
zip_income = zip_df[["PostalCode", "Median_Income"]]
zip_income.head()

  PostalCode Median_Income
1      35004         62902
2      35005         50473
3      35006         55909
4      35007         73587
5      35010         41954

In [1]:
demo_zip = demo_df.loc[1:, ["NAME", "DP05_0001E", "DP05_0009E", "DP05_0010E", "DP05_0018E"]]
demo_zip["PostalCode"] = demo_df["NAME"].str.split(" ").str[-1]
demo_zip.columns = ["NAME", "Population", "20to24", "25to34", "Median_age", "PostalCode" ]
demo_zip = demo_zip.loc[(demo_zip["Population"].astype(str).astype(int)>0)]
demo_zip["Keydemo_per"] = (demo_zip["20to24"].astype(str).astype(int) + demo_zip["25to34"].astype(str).astype(int)) / demo_zip["Population"].astype(str).astype(int)
demo_zip = demo_zip[["PostalCode", "Population", "Median_age", "Keydemo_per"]]

NameError: name 'demo_df' is not defined

In [61]:
zipcode_data = pd.merge(zip_income, demo_zip, on = "PostalCode")
zipcode_data.head()

  PostalCode Median_Income Population Median_age  Keydemo_per
0      35004         62902      12045       35.5     0.221337
1      35005         50473       7344         44     0.136438
2      35006         55909       2883       47.2     0.117586
3      35007         73587      26332       37.7     0.170705
4      35010         41954      20613       42.6     0.176636

In [63]:
zipcode_data.to_csv("income_data.csv", index = False)

In [30]:
income_file = "income_clean.csv"
income_df = pd.read_csv(income_file)
income_df.dtypes

Unnamed: 0         int64
PostalCode         int64
Median_Income     object
Population         int64
Median_age        object
Keydemo_per      float64
dtype: object

In [31]:
income_df["Median_age"]= pd.to_numeric(income_df['Median_age'],errors='coerce')
income_df["Median_Income"]= pd.to_numeric(income_df['Median_Income'],errors='coerce')

In [32]:
income_df.dtypes

Unnamed: 0         int64
PostalCode         int64
Median_Income    float64
Population         int64
Median_age       float64
Keydemo_per      float64
dtype: object

In [25]:
income_df.to_csv("income_data.csv", index = False)

In [34]:
income_df= = income_df.loc[1:, ["NAME", "DP03_0062E"]]

SyntaxError: invalid syntax (<ipython-input-34-8daf0608c128>, line 1)